<form (ngSubmit)="guardar(f)" #f=ngForm>
  <label>Firebase id</label>
  <input type="text" disabled placeholder="Firebase id" [(ngModel)]="persona.id" name="id">

  <label>Nombre</label>
  <input type="text"  placeholder="Nombre" [(ngModel)]="persona.nombre" name="nombre" required>

  <label>Apellido</label>
  <input type="text"  placeholder="Apellido" [(ngModel)]="persona.apellido" name="apellido" required>

  <button type="button">Trabajando</button>
  <button type="button">Pensionado</button>

  <button type="submit">Guardar</button>

</form>

<router-outlet></router-outlet>
